h1{
    text-align: center;
    color: blueviolet;
    font-size: 45px;
}
p{ 
    text-align: center;
    font-size: 40px;
    color: rgb(6, 6, 6);
}
h3{
    text-align: center;
    color: blueviolet;
    font-size: 45px;
}
img{
    text-align: center;
    float: left;
}